<%= form_for @category do | f | %>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name, :required => true, :placeholder => 'Eg. Greek', :class => 'formField' %>
  </fieldset>
  <label></label>
  <fieldset>
    <%= f.submit "Add" %>
  </fieldset>
<% end %>
