<h1>Add New Category</h1>

<%= render :partial => 'form' %>

<h2>All Categories</h2>

<% @categories.each do | category | %>
  <ul>
    <li><%= category.name %></li>
    <div class="controls">
      <%= link_to 'Edit', edit_category_path(category.id) %>
    </div>
  </ul>
<% end %>
